<template>
    <net-header>
        <net-mode-selector :v-model="mode" />
    </net-header>
    <net-table :mode="mode" :netId="netId" />
    <notes-pane />
</template>

<script>
export default {
    data(){
        return {
            mode: 'normal',// need to get from new net?? - need to push update
            netId: 0,
        }
    }
}

// Connects into nets state. Updates get pushed back via REST and then sent to others watching
</script>