<template>
    <button class="border rounded bg-blue-200 hover:bg-blue-300 px-2 py-1 my-2 mr-3">Start a Net</button>
    <button class="border rounded bg-blue-200 hover:bg-blue-300 px-2 py-1 my-2">Scheduled a Net</button>
    <div>
        <h2>Upcoming Nets</h2>
        <h2>Recomended Nets</h2>
    </div>
</template>

<script>
export default {
    
}
</script>