<template>
    <div class="border rounded mx-auto self-center flex flex-col">
        <div>
            <label class="block text-grey-darker text-sm font-bold mb-2">E-Mail</label>
            <input type="text" v-model="email" />
        </div>
        <div>
            <label class="block text-grey-darker text-sm font-bold mb-2">Password</label>
            <input type="password" v-model="password" />
        </div>
    </div>
</template>

<script>
export default {
    mounted(){
        // 1. If already logged in, redirect
        if(this.store.state.isLoggedIn) redirect('/');
        // 2. Get CSRF Token (Loading page until this point.)
        axios.get('/sanctum/csrf-cookie').then(response => {
            // Login using CSRF token
        });
    },
    methods: { 
        login(){
            axios.post('/login',{}).then(response => {

            });
        }
    }
}
</script>