<template>
<!-- different modes: Swap, ARES Traffic, ARES Training, Simple Checkin, Checklist (with geo), SKYWARN?
Nets that need to keep track of traffic will need a pane for tracking that traffic. (From Station, To Station, When, configurable?, click to open window)
 -->
    <table>
        <thead>
            <tr>
                <th v-for="column in columns" :class="{'bold':!!column.sort}">
                    {{ column.title }}
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</template>

<script>
export default {
    props: {
        mode: { 
            required: true,
            type: String,
        },
        netLogId: { // Interacts directly with net log on vuex
            required: true,
            type: Numeric,
        }
    }
}
</script>